DELEGATOR_EOA_ADDRESS=
DELEGATOR_NEXUS_ADDRESS=    
DELEGATOR_MM_ADDRESS=
DELEGATOR_PRIVATE_KEY=
BUNDLER_BASE_SEPOLIA_URL=
BUNDLER_SEPOLIA_URL=

DELEGATEE_ADDRESS=
DELEGATEE_SA_ADDRESS=
DELEGATEE_PRIVATE_KEY=
TARGET_ADDRESS=

LLM_API_KEY=
